@import 'colors';

.home {
    width: 100%;
    height: 100vh;
    background-color: $second;
    border-radius: 0 0 200px 200px;

    >main {
        position: absolute;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        padding: 2rem;
        justify-content: center;

        h1 {
            font: 400 6rem $text1;
            color: $first;
        }

        p {
            font: 900 1rem $text1;
            color: $first;
        }


    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: no-repeat center/auto url('../assets/1.png');
        filter: blur(3px);
        border-radius: 0 0 200px 200px;
    }

}

.home2 {
    height: 100vh;
    width: 100%;
    background-color: $second;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -200px;

    >img {
        padding-top: 2rem;
        width: 30%;
        animation: imgUp 0.7s linear infinite alternate;
    }

    >div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 5rem;

        p {
            color: $first;
            letter-spacing: 2px;
            word-wrap: 5px;
            font: 100 1.2rem $text2;
        }
    }


}

.home3 {
    width: 100%;
    height: 120vh;
    background-color: $second;
    // margin-top: -200px;
    display: flex;

    >div {
        width: 70%;
        height: 100vh;
        background-color: $first;
        border-radius: 0 200px 200px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;

        >h1 {
            text-transform: uppercase;
            border-bottom: 2px solid $dark;
            padding: .5rem;
            width: 15rem;
            color: $dark;
        }

        >p {
            padding: 5rem;
            letter-spacing: 1px;
            word-spacing: 5px;
            line-height: 170%;
            font: italic 1.2rem $text2;

        }
    }
}

.home4 {
    width: 100%;
    height: 120vh;
    background-color: $second;
    display: flex;
    justify-content: flex-end;

    >div {
        background-color: $third;
        border-radius: 200px 0 0 200px;
        width: 70%;
        height: 70vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >h1 {
            color: $first;
            text-transform: uppercase;
            width: 140px;
            border-bottom: 2px solid $first;
            padding: 0.5rem;
        }

        >article {
            padding-bottom: 1rem;
            border-bottom: 5px solid $dark;
            display: flex;
            margin: 2rem 0;
            flex-wrap: wrap;
            justify-content: center;

            >div {
                animation: imgBounce 0.7s linear infinite alternate;
                margin: 1rem;
                height: 10rem;
                width: 10rem;
                background-color: $first;
                border-radius: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: $dark;
                cursor: pointer;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                transition: all .5s;

                &::before {
                    content: '';
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    right: -2px;
                    bottom: -2px;
                    background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff0000);
                    filter: invert(1);
                    background-size: 400%;
                    border-radius: 50%;
                    z-index: -1;
                    animation: shine 4s linear infinite;
                }

                &:hover {
                    filter: invert(1);
                }

                svg {
                    font-size: 4rem;
                }

                p {
                    font: 900 1.2rem $text2;
                }
            }

        }
    }

}

@keyframes imgUp {
    to {
        transform: translateY(-10px);
    }
}

@keyframes imgBounce {
    to {
        transform: translateY(32px);
    }
}